/* Font imports must be at the very top of this file, even before the tailwind import */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Tailwind CSS */
@import "tailwindcss";

@theme {
  /* Font tokens */
  --font-sans: "Inter", sans-serif;
}

/* Button cursor */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility button {
  @apply block w-max rounded-md bg-slate-600 px-5 py-3 text-center font-medium text-nowrap text-slate-50 hover:bg-slate-500;
}

@utility gradient-dark {
  @apply bg-gradient-to-br from-slate-600 to-slate-700;
}

@utility gradient-light {
  @apply bg-gradient-to-br from-slate-300 to-slate-400;
}

@utility section-short {
  @apply py-10 sm:py-20;
}

@utility section-medium {
  @apply py-20 sm:py-32;
}

@utility section-tall {
  @apply py-20 sm:py-48;
}
