---
// Progress Pride flag notch
interface Props {
  href?: string;
  variant?: "hanging" | "inline";
}

const { href, variant = "hanging" } = Astro.props;
const Tag = href ? "a" : "div";
---

<div class="flex justify-center">
  <Tag
    {...href ? { href } : {}}
    class:list={[
      "flex h-2 overflow-hidden",
      variant === "hanging" ? "rounded-b-sm" : "rounded-xs",
    ]}
  >
    <!-- Pride flag stripes -->
    <div class="bg-pride-red w-2"></div>
    <div class="bg-pride-orange w-2"></div>
    <div class="bg-pride-yellow w-2"></div>
    <div class="bg-pride-green w-2"></div>
    <div class="bg-pride-blue w-2"></div>
    <div class="bg-pride-purple w-2"></div>
    <!-- Progress Pride flag stripes -->
    <div class="bg-pride-white w-2"></div>
    <div class="bg-pride-pink w-2"></div>
    <div class="bg-pride-cyan w-2"></div>
    <div class="bg-pride-brown w-2"></div>
    <div class="bg-pride-black w-2"></div>
  </Tag>
</div>
